<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Description:</b>
  <%= @restaurant.description %>
</p>

<p>
	<b>Locations</b>

	<% @restaurant.locations.each do |location| %>
		<%= location.street %>
		<%= location.city %>
		<%= location.state %>
		<%= location.zip %>
	<% end %>
	
<%= link_to 'Edit', edit_restaurant_path %>
<%= link_to 'All Restaurants', restaurants_url %>

<ul>
	<% @restaurant.burgers.each do |burger| %>
			<li><%= link_to burger.name, burger_url(burger) %> 
				</br>
				<%= burger.description %>
			</li>
	<% end %>
</ul>

<%= link_to "Add a Burger", new_burger_url(:restaurant_id => @restaurant.id) %>

<%= gmaps( markers: { data: @locations }, map_options: { auto_adjust: true, auto_zoom: false, zoom: 15 }) %>

<%= yield :scripts %>